/* PAGES WHICH LINK OUT OF THE HOMEPAGE STYLES
   PROJECT PAGES AND BLOGS PAGES.
 */
.header-projects-section{
    background-color: blue;
    width: 100%;
    min-height: 400px;
}

.project-header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 100%;
  min-height: 150px;
}
.github-link {
  position: absolute;
  top: 19px;
  left: 27px;
  text-transform: capitalize;
  display: inline-block;
  width: 232px;
  height: 62px;
}
.login-button,
.roject-title-1 {
  position: absolute;
  top: 300px;
  left: 593px;
  width: 273px;
  height: 92px;
}
.roject-title-1 {
  top: 29px;
  left: 260px;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  display: inline-block;
  width: 407px;
  height: 91px;
}
.project-desc,
.projectdesc-and-button {
  position: absolute;
  width: 1008.32px;
  height: 156px;
}
.project-desc {
  top: 0;
  left: 0;
  text-transform: lowercase;
  display: inline-block;
  mix-blend-mode: hard-light;
}
.projectdesc-and-button {
  top: 144px;
  left: 260.34px;
  color: var(--color-whitesmoke);
}
.hero-section-for-project-1,
.project-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
  min-height: 200px;
}
.hero-section-for-project-1 {
  top: 25px;
  left: 100px;
  font-size: var(--font-size-base);
}
.project-preview-box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 30%;
  height: 100px;
}
.desciption-of-the,
.project-overview {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  display: inline-block;
  width: 439px;
  height: 93px;
}
.desciption-of-the {
  top: 93px;
  left: 3px;
  text-transform: lowercase;
  width: 1204px;
  height: 422px;
}
.project-1-overview,
.project-box {
  position: absolute;
  top: 560px;
  left: 257px;
  width: 100%;
  height: 300px;
}
.project-box {
  top: 0;
  left: 0;
  border-radius: 25px;
  background-color: var(--color-darkorange);
  width: 100%;
  height: 300px;
}
.project-preview {
  position: absolute;
  top: 39.41px;
  left: 223.35px;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-block;
  width: 400.48px;
  height: 99.99px;
}
.project-1-preview-box {
  position: absolute;
  top: 25px;
  left: 260px;
  width: 100%;
  height: 218px;
  font-size: var(--font-size-lg);
}
.skill-6-box {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 285px;
  height: 76px;
}
.language-61 {
  position: absolute;
  top: 12px;
  left: 30px;
  text-transform: capitalize;
}
.language-6 {
  position: absolute;
  top: 125px;
  left: 747px;
  width: 285px;
  height: 76px;
}
.skill-5-text {
  position: absolute;
  top: 10px;
  left: 41px;
  text-transform: capitalize;
  display: inline-block;
  width: 244px;
}
.language-5 {
  position: absolute;
  top: 125px;
  left: 390px;
  width: 285px;
  height: 76px;
}
.language-42 {
  position: absolute;
  top: 11px;
  left: 19px;
  text-transform: capitalize;
  display: inline-block;
  width: 241px;
}
.language-4 {
  position: absolute;
  top: 125px;
  left: 0;
  width: 285px;
  height: 76px;
}
.language-32 {
  position: absolute;
  top: 11px;
  left: 30px;
  text-transform: capitalize;
  display: inline-block;
  width: 241px;
}
.language-3 {
  position: absolute;
  top: 0;
  left: 747px;
  width: 285px;
  height: 76px;
}
.language-22 {
  position: absolute;
  top: 11px;
  left: 41px;
  text-transform: capitalize;
}
.language-2 {
  position: absolute;
  top: 1px;
  left: 390px;
  width: 285px;
  height: 76px;
}
.language-24 {
  position: absolute;
  top: 13px;
  left: 19px;
  text-transform: capitalize;
  display: inline-block;
  width: 241px;
}
.languages-used,
.skills-element-1 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 285px;
  height: 76px;
}
.languages-used {
  top: 112px;
  width: 1032px;
  height: 201px;
}
.blank-line {
  margin-block-start: 0;
  margin-block-end: 0;
}
.blank-line1 {
  margin: 0;
}
.technology-used-container {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  display: inline-block;
  width: 436px;
  height: 42px;
}
.technology-used {
  position: absolute;
  top: 1133px;
  left: 260px;
  width: 1032px;
  height: 313px;
}
.see-live {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
}
.github-link-button {
  border-radius: var(--br-sm);
  background-color: var(--color-orange);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
}
.github-button,
.github-link-button,
.go-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 273px;
  height: 92px;
}
.go-back {
  left: 393px;
}
.see-live-and-git-buttons,
.see-live-with-button {
  position: absolute;
  top: 111px;
  left: 0;
  width: 666px;
  height: 92px;
}
.see-live-with-button {
  top: 1522px;
  left: 260px;
  height: 203px;
}
.project-1-elements {
  position: absolute;
  top: 680px;
  left: 228px;
  width: 1532px;
  height: 2047px;
  font-size: var(--font-size-base);
}
.footer-section-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1532px;
  height: 436px;
}
.copyright-disclaimer {
  position: absolute;
  top: 331.16px;
  left: 594.6px;
  text-transform: capitalize;
  display: inline-block;
  width: 275.37px;
  height: 48.79px;
}
.separator-icon {
  position: absolute;
  top: 306.04px;
  left: 164.18px;
  width: 1051.54px;
  height: 11.36px;
}
.about-me-in,
.innocent-niyonzima {
  position: absolute;
  top: 0;
  left: 2.33px;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-block;
  width: 603px;
  height: 74px;
}
.about-me-in {
  top: 91.27px;
  left: 0;
  font-size: var(--font-size-base);
  text-transform: lowercase;
  font-weight: 600;
  text-align: justify;
  width: 685px;
  height: 197.89px;
}
.intro-in-footer,
.social-icons-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 685px;
  height: 289.17px;
}
.social-icons-holder {
  border-radius: 20px;
  background-color: var(--color-white);
  width: 512.83px;
  height: 109px;
}
.ig-1-icon {
  position: absolute;
  top: 8.38px;
  left: 0;
  width: 63.54px;
  height: 67.73px;
  object-fit: cover;
}
.fb-1-icon,
.icons8-github-60-1,
.tw-1-icon {
  position: absolute;
  top: 0;
  left: 374.67px;
  width: 71.51px;
  height: 81.04px;
  object-fit: cover;
}
.fb-1-icon,
.tw-1-icon {
  top: 5.25px;
  left: 130.82px;
  width: 65.74px;
  height: 67.73px;
}
.fb-1-icon {
  top: 7.35px;
  left: 256.92px;
  width: 63.34px;
  height: 67.36px;
}
.icons {
  position: absolute;
  top: 11.73px;
  left: 55.54px;
  width: 446.18px;
  height: 81.04px;
}
.icons-box,
.social-heading {
  position: absolute;
  top: 113.12px;
  left: 0;
  width: 512.83px;
  height: 109px;
}
.social-heading {
  top: 0;
  left: 196.26px;
  text-transform: capitalize;
  font-weight: 900;
  display: inline-block;
  width: 115.44px;
  height: 55.78px;
}
.social-icons-in-footer {
  position: absolute;
  top: 0.26px;
  left: 905.5px;
  width: 512.83px;
  height: 222.12px;
  text-align: justify;
  font-size: var(--font-size-base);
}
.footer-introsocial {
  position: absolute;
  top: 0;
  left: 0;
  width: 1418.33px;
  height: 289.17px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.footer-elements {
  position: absolute;
  top: 39px;
  left: 85.67px;
  width: 1418.33px;
  height: 379.95px;
}
.footer-elements-full,
.navigation-bar-icon {
  position: absolute;
  top: 2443px;
  left: 228px;
  width: 1532px;
  height: 436px;
}
.navigation-bar-icon {
  top: 0;
  left: 0;
  height: 103.59px;
}
.home {
  top: 0;
  left: 0;
  text-transform: uppercase;
  display: inline-block;
  width: 85.34px;
}
.about-me,
.home,
.skills {
  position: absolute;
  height: 49.12px;
}
.about-me {
  top: 0;
  left: 149.09px;
  text-transform: uppercase;
  display: inline-block;
  width: 144.97px;
}
.skills {
  left: 349.58px;
  width: 90.48px;
}
.blogs,
.my-work,
.skills {
  top: 0;
  text-transform: uppercase;
  display: inline-block;
}
.my-work {
  position: absolute;
  left: 498.67px;
  width: 136.75px;
  height: 49.12px;
}
.blogs {
  left: 695.05px;
  width: 89.45px;
}
.blogs,
.contact-me,
.navigation-pages {
  position: absolute;
  height: 49.12px;
}
.contact-me {
  top: 0;
  left: 857.51px;
  text-transform: uppercase;
  display: inline-block;
  width: 174.79px;
}
.navigation-pages {
  top: 31.63px;
  left: 435.95px;
  width: 1032.3px;
}
.navigations-elements-full {
  position: absolute;
  top: 170.41px;
  left: 228px;
  width: 1532px;
  height: 103.59px;
  text-align: left;
}
.header1 {
  position: absolute;
  top: 8.59px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1532px;
  height: 152.73px;
}
.prodfile-picture {
  position: absolute;
  top: 24.24px;
  left: 43.65px;
  width: 128.3px;
  height: 119.52px;
  object-fit: cover;
}
.innocent-niyonzima1 {
  position: absolute;
  top: 66.82px;
  left: 187.13px;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-block;
  width: 366.03px;
  height: 66.82px;
}
.header,
.sign-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 1532px;
  height: 168px;
}
.sign-box {
  background-color: var(--color-gray-200);
  border: 3px solid var(--color-darkorange);
  box-sizing: border-box;
  width: 175px;
  height: 50px;
}
.sign-in2 {
  position: absolute;
  top: 1px;
  left: 48px;
  text-transform: uppercase;
  display: inline-block;
  width: 127px;
  height: 31px;
}
.sign-in1,
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 50px;
}
.vector-icon {
  height: 47.33%;
  width: 14.97%;
  top: 27.2%;
  right: 74.26%;
  bottom: 25.47%;
  left: 10.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sign-in,
.sign-up1 {
  position: absolute;
  height: 50px;
}
.sign-in {
  top: 49px;
  left: 1095px;
  width: 175px;
  color: var(--color-whitesmoke);
}
.sign-up1 {
  top: 0;
  left: 0;
  background-color: var(--color-darkorange);
  border: 3px solid var(--color-darkorange);
  box-sizing: border-box;
  width: 169px;
}
.sign-up-text {
  position: absolute;
  top: 7px;
  left: 46px;
  text-transform: uppercase;
}
.sign-up,
.user-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 169px;
  height: 50px;
}
.user-icon {
  height: 53.33%;
  width: 16.57%;
  top: 23%;
  right: 73.67%;
  bottom: 23.67%;
  left: 9.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sign-up-button {
  position: absolute;
  top: 49px;
  left: 900px;
  width: 169px;
  height: 50px;
  font-size: 25px;
}
.header-elements-full {
  position: absolute;
  top: 10px;
  left: 228px;
  width: 1532px;
  height: 168px;
  text-align: left;
}
.project-1 {
  position: relative;
  background-color: green;
  width: 100%;
  height: 2949px;
  overflow: hidden;
  text-align: justify;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-titillium-web);
}