body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.two-bars-icon {
  position: absolute;
  top: 1.56px;
  left: 0;
  width: 1982px;
  height: 1973.44px;
  object-fit: cover;
}
.innocent-niyonzima {
  position: absolute;
  top: calc(50% - 20.39px);
  left: calc(50% - 5.5px);
  text-transform: capitalize;
  font-weight: 900;
  display: inline-block;
  width: 179px;
  height: 48px;
}
.prodfile-picture {
  position: absolute;
  top: 27.04px;
  left: 25.9px;
  width: 127.49px;
  height: 132.71px;
  object-fit: cover;
}
.profile1 {
  position: absolute;
  top: calc(50% - 93.39px);
  left: calc(50% - 194px);
  width: 347px;
  height: 186.79px;
}
.icons8-settings-128-1 {
  position: absolute;
  top: 67px;
  left: 324px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.profile-menu {
  position: absolute;
  top: calc(50% - 990px);
  left: calc(50% + 563px);
  width: 388px;
  height: 186.79px;
  color: var(--color-darkorange);
}
.group-child {
  border-radius: var(--br-md);
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-darkorange);
  box-sizing: border-box;
}
.card,
.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  height: 300px;
}
.group-item {
  left: 451.54px;
  width: 63.52px;
  height: 61.09px;
  cursor: pointer;
}
.articles1 {
  position: absolute;
  top: 6.79px;
  left: 78.71px;
  display: flex;
  align-items: flex-end;
  width: 332.78px;
  height: 59.73px;
}
.counter-holder {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-darkslategray-100);
  width: 128.42px;
  height: 108.6px;
}
.blank-line {
  margin-block-start: 0;
  margin-block-end: 0;
}
.k1 {
  margin: 0;
  font-size: var(--font-size-sm);
  color: var(--color-darkorange);
}
.k-txt {
  line-break: anywhere;
  width: 100%;
}
.k,
.total {
  position: absolute;
}
.k {
  top: 10.86px;
  left: 19.33px;
  display: flex;
  align-items: flex-end;
  width: 96.66px;
  height: 73.06px;
}
.total {
  top: 0;
  left: 407.35px;
  width: 128.42px;
  height: 108.6px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.iconsaxlinearprofile2user {
  position: absolute;
  top: 6.79px;
  left: 0;
  border-radius: var(--br-md);
  width: 63.52px;
  height: 59.73px;
  overflow: hidden;
}
.content {
  position: absolute;
  top: 1.36px;
  left: 0;
  width: 535.77px;
  height: 108.6px;
}
.icons8-page-64-1 {
  position: absolute;
  top: 0;
  left: 1.38px;
  width: 77.18px;
  height: 81.45px;
  object-fit: cover;
}
.articles,
.content-parent,
.group-parent {
  position: absolute;
  top: 103.17px;
  left: 0;
  width: 535.77px;
  height: 109.95px;
}
.articles,
.group-parent {
  top: 24.43px;
  left: 53.85px;
  height: 213.12px;
}
.articles {
  top: 209px;
  left: 1313px;
  width: 620px;
  height: 300px;
  font-size: var(--font-size-sm);
}
.k2,
.likes1 {
  position: absolute;
  top: 9.5px;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 332.78px;
  height: 59.73px;
}
.k2 {
  left: 19.33px;
  width: 96.66px;
  height: 73.06px;
}
.content1,
.total1 {
  position: absolute;
  height: 108.6px;
}
.total1 {
  top: 0;
  left: 330.02px;
  width: 128.42px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.content1 {
  top: 104.52px;
  left: 0;
  width: 458.44px;
}
.iconsaxboldexportsquare {
  position: absolute;
  top: 0;
  left: 374.21px;
  border-radius: var(--br-md);
  width: 63.52px;
  height: 61.09px;
  overflow: hidden;
  cursor: pointer;
}
.content-group,
.image-1-icon {
  position: absolute;
  top: 0;
  left: 100.8px;
  width: 458.44px;
  height: 213.12px;
}
.image-1-icon {
  top: 112.67px;
  left: 0;
  width: 77.33px;
  height: 74.66px;
  object-fit: cover;
  cursor: pointer;
}
.group-container,
.likes {
  position: absolute;
  top: 24.43px;
  left: 45.57px;
  width: 559.24px;
  height: 213.12px;
}
.likes {
  top: 625px;
  left: 1313px;
  width: 620px;
  height: 300px;
  font-size: var(--font-size-sm);
}
.comments1,
.k4 {
  position: absolute;
  top: 17.65px;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 332.78px;
  height: 59.73px;
}
.k4 {
  top: 12.22px;
  left: 19.33px;
  width: 96.66px;
  height: 73.06px;
}
.content2,
.total2 {
  position: absolute;
  height: 108.6px;
}
.total2 {
  top: 0;
  left: 332.78px;
  width: 128.42px;
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.content2 {
  top: 107.24px;
  left: 0;
  width: 461.2px;
}
.iconsaxboldexportsquare1 {
  position: absolute;
  top: 0;
  left: 376.97px;
  border-radius: var(--br-md);
  width: 63.52px;
  height: 61.09px;
  overflow: hidden;
  cursor: pointer;
}
.content-container,
.image-2-icon {
  position: absolute;
  top: 0;
  left: 102.18px;
  width: 461.2px;
  height: 215.84px;
}
.image-2-icon {
  top: 119.46px;
  left: 0;
  width: 82.85px;
  height: 86.7px;
  object-fit: cover;
}
.comments,
.group-div {
  position: absolute;
  top: 29.86px;
  left: 30.38px;
  width: 563.39px;
  height: 215.84px;
}
.comments {
  top: 625px;
  left: 509px;
  width: 620px;
  height: 300px;
  font-size: var(--font-size-sm);
}
.k6,
.registered-users {
  position: absolute;
  top: 21.72px;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 361.78px;
  height: 61.09px;
}
.k6 {
  left: 19.33px;
  width: 96.66px;
}
.content3,
.total3 {
  position: absolute;
  height: 108.6px;
}
.total3 {
  top: 0;
  left: 367.31px;
  width: 128.42px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.content3 {
  top: 104.52px;
  left: 0;
  width: 495.72px;
}
.iconsaxboldexportsquare2 {
  position: absolute;
  top: 0;
  left: 419.78px;
  border-radius: var(--br-md);
  width: 63.52px;
  height: 61.09px;
  overflow: hidden;
  cursor: pointer;
}
.content-parent1,
.image-3-icon {
  position: absolute;
  top: 0;
  left: 95.28px;
  width: 495.72px;
  height: 213.12px;
}
.image-3-icon {
  top: 124.89px;
  left: 0;
  width: 82.85px;
  height: 76.79px;
  object-fit: cover;
  cursor: pointer;
}
.group-parent1 {
  position: absolute;
  top: 24.43px;
  left: 15.19px;
  width: 591px;
  height: 213.12px;
}
.registrered-users {
  position: absolute;
  top: 209px;
  left: 509px;
  width: 620px;
  height: 300px;
  font-size: 28px;
}
.quick-e-infos {
  position: absolute;
  top: 887px;
  left: 1412px;
  border-radius: var(--br-md);
  background-color: var(--color-darkslategray-200);
  border: 4px solid #f9a825;
  box-sizing: border-box;
  width: 1412px;
  height: 887px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.blog-1-image {
  position: absolute;
  top: 203.76px;
  left: 0;
  width: 714.92px;
  height: 458.45px;
  object-fit: cover;
}
.mit-stackable-ai,
.newly-posted-articles {
  position: absolute;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
}
.newly-posted-articles {
  top: calc(50% - 331.1px);
  left: calc(50% - 296.98px);
  font-size: var(--font-size-lg);
  width: 714.92px;
  height: 100.77px;
}
.mit-stackable-ai {
  top: 122.92px;
  left: 0;
  width: 826.97px;
  height: 58.69px;
}
.mit-stackable-ai,
.span {
  color: var(--color-darkorange);
}
.harvard-university-tsinghua {
  margin: 0;
}
.new-technical-paper-container {
  position: absolute;
  top: 235.87px;
  left: calc(50% + 71.89px);
  font-weight: 900;
  display: flex;
  align-items: flex-end;
  width: 594.94px;
  height: 410.83px;
}
.blog-1-image-parent {
  position: absolute;
  top: 49.83px;
  left: 63.46px;
  width: 1333.67px;
  height: 662.2px;
}
.quick-e-infos-parent {
  position: absolute;
  top: 1078px;
  left: 521px;
  width: 1412px;
  height: 887px;
  cursor: pointer;
}
.mdimonitor-dashboard-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 82.85px;
  height: 64px;
  overflow: hidden;
}
.dashboard {
  position: absolute;
  top: 5px;
  left: 102px;
}
.mdimonitor-dashboard-parent {
  position: absolute;
  top: 264px;
  left: 49px;
  width: 266px;
  height: 64px;
}
.image-4-icon,
.registered-users1 {
  position: absolute;
  top: 12px;
  left: 102px;
}
.image-4-icon {
  top: 0;
  left: 0;
  width: 82.85px;
  height: 76.79px;
  object-fit: cover;
}
.registered-users-parent {
  position: absolute;
  top: 459px;
  left: 49px;
  width: 361px;
  height: 76.79px;
}
.image-2-icon1,
.likes2 {
  position: absolute;
  top: 2px;
  left: 102px;
}
.image-2-icon1 {
  top: 0;
  left: 0;
  width: 77.33px;
  height: 74.66px;
  object-fit: cover;
}
.image-3-icon1,
.likes-parent {
  position: absolute;
  top: 760px;
  left: 49px;
  width: 180px;
  height: 74.66px;
}
.image-3-icon1 {
  top: 0;
  left: 0;
  width: 82.85px;
  height: 86.7px;
  object-fit: cover;
}
.comments2,
.image-3-parent {
  position: absolute;
  top: 3px;
  left: 102px;
}
.image-3-parent {
  top: 922px;
  left: 49px;
  width: 265px;
  height: 86.7px;
}
.articles2 {
  position: absolute;
  top: 24px;
  left: 102px;
}
.icons8-page-64-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 77.18px;
  height: 81.45px;
  object-fit: cover;
}
.articles-parent {
  position: absolute;
  top: 604px;
  left: 49px;
  width: 218px;
  height: 81.45px;
}
.admin-panel {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1980px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-titillium-web);
}
.profile {
  position: absolute;
  top: 0;
  left: 156px;
  font-size: var(--font-size-lg);
  display: flex;
  align-items: flex-end;
  width: 385px;
  height: 69px;
}
.image-7-icon,
.logout-1-icon {
  position: absolute;
  top: 83px;
  left: 0;
  width: 64px;
  height: 66.91px;
  object-fit: cover;
}
.logout-1-icon {
  top: 190px;
  height: 64px;
}
.account-setting,
.logout {
  position: absolute;
  left: 75px;
  display: flex;
  align-items: flex-end;
}
.logout {
  top: 190px;
  font-weight: 900;
  color: #e83333;
  width: 237px;
}
.account-setting {
  top: 97px;
  width: 258px;
  cursor: pointer;
}
.profile-parent {
  position: absolute;
  top: 7px;
  left: 20px;
  width: 541px;
  height: 254px;
}
.profile-settings {
  position: relative;
  background-color: var(--color-darkslategray-200);
  width: 695px;
  height: 318px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-titillium-web);
}
