/* 
####   RESPONSIVE DASHBOARD FOR ALL DEVICES!
####  1. For extremely small screen devices (595px and below) 
        @media only screen and (max-width: 595px)  
####  2. Small screen devices (600px and above) 
@media only screen and (min-width: 600px)
####  3.Medium screen devices (768px and above) 
@media only screen and (min-width: 768px)
####  4. Big screen devices (889px and above) 
@media only screen and (min-width: 889px)
####  5.Extra big screen devices (1200px and above) 
@media only screen and (min-width: 1200px)
*/

@media only screen and (max-width:595px) {
  .cards-section {
    background-color: red;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
  }
  .information-cards {
    max-width: 95%;
    min-height: 10%;
  }
  .profile-pic {
    width: 75px !important;
    height: 75px !important;
  }
  .header-section {
    display: flex !important;
    justify-content: center !important;
  }

  .side-menu-section {
    display: none;
  }

  .big-card-latest-articles {
    display: block;
    width: 100% !important;
    margin: 0rem !important;
  }
  .descrption {
    font-size: 1.3rem !important;
    font-family: monospace !important;
  }
  .latest-post-link {
    font-size: 1.4rem;
  }
  .orange-big-text {
    font-size: 2rem !important;
  }
  .Updating-profile-section {
    position: relative;
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .btn-scaling {
    width: 30%;
    padding: 2rem 2rem;
    font-size: 1.2rem;
  }
 marquee {
    font-size: 1.8rem !important;
  }
}
@media only screen and (min-width:600px) {
  .cards-section {
    background-color: blue;
    display: flex;
    width: 100% !important;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    padding: 0px;
  }
  .information-cards {
    width: 90% !important;
    min-height: 10% !important;
  }
  .menu-title-in-card .orange-big-text {
    font-size: 3rem !important;
  }
  .profile-pic {
    width: 100px;
    height: 100px;
  }
  .side-menu-section {
    display: none;
  }
  .big-card-latest-articles {
    display: block;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
  }
  .descrption {
    font-size: 1.3rem !important;
    font-family: monospace !important;
  }
  .latest-post-link {
    font-size: 1.4rem;
  }
  marquee {
    font-size: 1.8rem !important;
  }
}

@media only screen and (min-width:768px) {
  .side-menu-section {
    width: 30% !important;
  }
  .cards-section {
    background-color: green;
    display: flex;
    min-width:70%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .profile-pic {
    width: 100px;
    height: 100px;
    padding-top: 2rem;
  }
  .information-cards {
    max-width: 90% !important;
    max-height: 20% !important;
  }

  .big-card-latest-articles {
    display: block;
     }
  .descrption {
    font-size: 1.3rem !important;
    font-family: monospace !important;
  }
  .latest-post-link {
    font-size: 1.4rem;
  }
  .orange-big-text {
    font-size: 2rem !important;
  }
  marquee {
    font-size: 1.8rem !important;
  }
}
@media only screen and (min-width:889px) {
  .cards-section {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    padding: 0px;
  }
  .profile-pic {
    width: 120px !important;
    height: 120px !important;
    padding-top: 2rem;
  }
  .profile-pic:hover {
    display: none;
  }
  .information-cards {
    max-width: 90% !important;
    min-height: 30rem;
  }
  .side-menu-section {
    width: 30%;
  }
  .big-card-latest-articles {
    display: block;
    margin: 3rem;
  }
  .descrption {
    font-size: 2rem !important;
    font-family: monospace !important;
  }
  .latest-post-link {
    font-size: 2rem;
  }
  .orange-big-text {
    font-size: 2.5rem !important;
  }
  marquee {
    font-size: 2rem !important;
  }
}

@media only screen and (min-width:1200px) {
  .cards-section {
    background-color: cyan;
    display: flex;
    width: 50%;
    padding: 0px;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .side-menu-section{
    width: 50% !important;
  }
  .information-cards {
    width: 45% !important;
    min-height: 30rem;
  }

  .big-card-latest-articles {
    display: block;
    margin: 5rem;
  }
  .descrption {
    font-size: 3rem !important;
  }
  .latest-post-link {
    font-size: 3rem;
  }
  .orange-big-text {
    font-size: 3rem !important;
  }
  marquee {
    font-size: 4rem !important;
  }
  .arrow-icon {
    width: auto;
    height: max-content;
  }
  .arrow-icon {
    transform: rotate(-45deg);
  }
  .menu-icon-card {
    width: 10% !important;
    height: 10% !important;
  }
  .menu-title-card {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 7rem 1rem 2rem 2rem;
  }
  .total-count {
    position: relative;
    display: flex;
    justify-content: center;
    width: 30% !important;
    max-height: 8rem;
    background-color: #333;
    border-radius: 10px;
    border: #fd961a 1px solid;
  }
  .orange-big-text {
    font-size: 3rem !important;
    color: #fd961a;
    align-self: center;
    padding-left: 10px;
  }
  .big-card-latest-articles {
    max-width: 91%;
    height: auto;
    border-radius: 5px;
    background-color: #1d1d1d;
    border: #fd961a 2px solid;
    padding: 4rem;
  }

  .arrow-square {
    min-width: 10% !important;
    height: 20% !important;

    border-radius: 5px;
    float: right;
    cursor: pointer;
    text-align: center;
    margin: 10px 10px 10px 10px;
  }
}* 
####   RESPONSIVE DASHBOARD FOR ALL DEVICES!
####  1. For extremely small screen devices (595px and below) 
        @media only screen and (max-width: 595px)  
####  2. Small screen devices (600px and above) 
@media only screen and (min-width: 600px)
####  3.Medium screen devices (768px and above) 
@media only screen and (min-width: 768px)
####  4. Big screen devices (889px and above) 
@media only screen and (min-width: 889px)
####  5.Extra big screen devices (1200px and above) 
@media only screen and (min-width: 1200px)
*/

@media only screen and (max-width:595px) {
  .cards-section {
    background-color: red;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
  }
  .information-cards {
    max-width: 95%;
    min-height: 10%;
  }
  .profile-pic {
    width: 75px !important;
    height: 75px !important;
  }
  .header-section {
    display: flex !important;
    justify-content: center !important;
  }

  .side-menu-section {
    display: none;
  }

  .big-card-latest-articles {
    display: block;
    width: 100% !important;
    margin: 0rem !important;
  }
  .descrption {
    font-size: 1.3rem !important;
    font-family: monospace !important;
  }
  .latest-post-link {
    font-size: 1.4rem;
  }
  .orange-big-text {
    font-size: 2rem !important;
  }
  .Updating-profile-section {
    position: relative;
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .btn-scaling {
    width: 30%;
    padding: 2rem 2rem;
    font-size: 1.2rem;
  }
 marquee {
    font-size: 1.8rem !important;
  }
}
@media only screen and (min-width:600px) {
  .cards-section {
    background-color: blue;
    display: flex;
    width: 100% !important;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    padding: 0px;
  }
  .information-cards {
    width: 90% !important;
    min-height: 10% !important;
  }
  .menu-title-in-card .orange-big-text {
    font-size: 3rem !important;
  }
  .profile-pic {
    width: 100px;
    height: 100px;
  }
  .side-menu-section {
    display: none;
  }
  .big-card-latest-articles {
    display: block;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
  }
  .descrption {
    font-size: 1.3rem !important;
    font-family: monospace !important;
  }
  .latest-post-link {
    font-size: 1.4rem;
  }
  marquee {
    font-size: 1.8rem !important;
  }
}

@media only screen and (min-width:768px) {
  .side-menu-section {
    width: 30% !important;
  }
  .cards-section {
    background-color: green;
    display: flex;
    width:70%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .profile-pic {
    width: 100px;
    height: 100px;
    padding-top: 2rem;
  }
  .information-cards {
    max-width: 90% !important;
    max-height: 20% !important;
  }

  .big-card-latest-articles {
    display: block;
     }
  .descrption {
    font-size: 1.3rem !important;
    font-family: monospace !important;
  }
  .latest-post-link {
    font-size: 1.4rem;
  }
  .orange-big-text {
    font-size: 2rem !important;
  }
  marquee {
    font-size: 1.8rem !important;
  }
}
@media only screen and (min-width:889px) {
  .cards-section {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    padding: 0px;
  }
  .profile-pic {
    width: 120px !important;
    height: 120px !important;
    padding-top: 2rem;
  }
  .profile-pic:hover {
    display: none;
  }
  .information-cards {
    max-width: 90% !important;
    min-height: 30rem;
  }
  .side-menu-section {
    width: 30%;
  }
  .big-card-latest-articles {
    display: block;
    margin: 3rem;
  }
  .descrption {
    font-size: 2rem !important;
    font-family: monospace !important;
  }
  .latest-post-link {
    font-size: 2rem;
  }
  .orange-big-text {
    font-size: 2.5rem !important;
  }
  marquee {
    font-size: 2rem !important;
  }
}

@media only screen and (min-width:1200px) {
  .cards-section {
    background-color: cyan;
    display: flex;
    width: 50%;
    padding: 0px;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .side-menu-section{
    width: 50% !important;
  }
  .information-cards {
    width: 45% !important;
    min-height: 30rem;
  }

  .big-card-latest-articles {
    display: block;
    margin: 5rem;
  }
  .descrption {
    font-size: 3rem !important;
  }
  .latest-post-link {
    font-size: 3rem;
  }
  .orange-big-text {
    font-size: 3rem !important;
  }
  marquee {
    font-size: 4rem !important;
  }
  .arrow-icon {
    width: auto;
    height: max-content;
  }
  .arrow-icon {
    transform: rotate(-45deg);
  }
  .menu-icon-card {
    width: 10% !important;
    height: 10% !important;
  }
  .menu-title-card {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 7rem 1rem 2rem 2rem;
  }
  .total-count {
    position: relative;
    display: flex;
    justify-content: center;
    width: 30% !important;
    max-height: 8rem;
    background-color: #333;
    border-radius: 10px;
    border: #fd961a 1px solid;
  }
  .orange-big-text {
    font-size: 3rem !important;
    color: #fd961a;
    align-self: center;
    padding-left: 10px;
  }
  .big-card-latest-articles {
    max-width: 91%;
    height: auto;
    border-radius: 5px;
    background-color: #1d1d1d;
    border: #fd961a 2px solid;
    padding: 4rem;
  }

  .arrow-square {
    min-width: 10% !important;
    height: 20% !important;

    border-radius: 5px;
    float: right;
    cursor: pointer;
    text-align: center;
    margin: 10px 10px 10px 10px;
  }
}