<footer class="main-footer">
  <div class="main-container">
    <div class="main-footer__upper">
      <div class="main-footer__row main-footer__row-1">
        <h2 class="heading heading-sm main-footer__heading-sm">
          <span>Social</span>
        </h2>
        <div class="main-footer__social-cont">
          <a
            target="_blank"
            rel="noreferrer"
            href="https://linkedin.com/in/INNOCENT"
          >
            <img
              class="main-footer__icon"
              src="images/linkedin.svg"
              alt="innocent NIYONZIMA'S Linkedin Profile"
            />
          </a>
          <a
            target="_blank"
            rel="noreferrer"
            href="https://github.com/innocent"
          >
            <img
              class="main-footer__icon"
              src="images/github.svg"
              alt="innocent NIYONZIMA'S Github Profile"
            />
          </a>
          <a
            target="_blank"
            rel="noreferrer"
            href="https://twitter.com/innocent"
          >
            <img
              class="main-footer__icon"
              src="images/twitter.svg"
              alt="innocent NIYONZIMA'S  twitter"
            />
          </a>
          <a target="_blank" rel="noreferrer" href="https://dev.to/Innocent">
            <img
              class="main-footer__icon"
              src="images/dev.svg"
              alt="innocent NIYONZIMA'S DEV Profile"
            />
          </a>
          <a
            target="_blank"
            rel="noreferrer"
            href="https://www.youtube.com/channel/Innocent"
          >
            <img
              class="main-footer__icon"
              src="images/youtube.svg"
              alt="innocent NIYONZIMA'S youtube Profile"
            />
          </a>
        </div>
      </div>
      <div class="main-footer__row main-footer__row-2">
        <h2 class="heading heading-sm text-lt">INNOCENT NIYONZIMA</h2>
        <p class="main-footer__short-desc">
          A Backend focused Web Developer, I am longing to build the resilent
          Web Applications and user-friendly software. I desire to serve Rwanda
        </p>
      </div>
    </div>

    <div class="main-footer__lower">
      &copy; Copyright
      <script>
        document.write(new Date().getFullYear());
      </script>
      . Made by Innocent
    </div>
  </div>
</footer>
