<!-- SOCIAL MEDIA LINKS FOR HERO SECTION STARTS HERE -->
      <div class="home-hero__socials">
        <div class="home-hero__social">
          <a
            href="https://facebook.com/in/Rwandan Techy"
            class="home-hero__social-icon-link"
            rel="noreferrer"
            target="_blank"
          >
            <img
              src="images/facebook.svg"
              alt="Innocent NIYONZIMA Logo Image"
              class="home-hero__social-icon"
            />
          </a>
        </div>
        <div class="home-hero__social">
          <a
            href="https://instagram.com/rwandantechy"
            class="home-hero__social-icon-link"
            rel="noreferrer"
            target="_blank"
          >
            <img
              src="images/instagram.svg"
              alt="Innocent's instagram Account"
              class="home-hero__social-icon"
            />
          </a>
        </div>
        <div class="home-hero__social">
          <a
            href="https://www.youtube.com/channel/rwandantechy"
            class="home-hero__social-icon-link home-hero__social-icon-link--bd-none"
            rel="noreferrer"
            target="_blank"
          >
            <img
              src="images/youtube.svg"
              alt="Innocent NIYONZIMA Logo Image"
              class="home-hero__social-icon"
            />
          </a>
        </div>
        <div class="home-hero__social">
          <a
            href="https://github.com/rwandantechy"
            class="home-hero__social-icon-link"
            rel="noreferrer"
            target="_blank"
            ><img
              src="images/github.svg"
              alt="githug profile for Innocent"
              class="home-hero__social-icon"
            />
          </a>
        </div>

        <div class="home-hero__social">
          <a
            href="https://dev.to/rwandantechy"
            class="home-hero__social-icon-link"
            rel="noreferrer"
            target="_blank"
          >
            <img
              src="images/dev.svg"
              alt="githug profile for Innocent"
              class="home-hero__social-icon"
            />
          </a>
        </div>
      </div>