body {
  margin: 0;
  line-height: normal;
}
.profile {
  position: absolute;
  top: 0;
  left: 156px;
  font-size: var(--font-size-lg);
  display: flex;
  align-items: flex-end;
  width: 385px;
  height: 69px;
}
.image-7-icon,
.logout-1-icon {
  position: absolute;
  top: 83px;
  left: 0;
  width: 64px;
  height: 66.91px;
  object-fit: cover;
}
.logout-1-icon {
  top: 190px;
  height: 64px;
}
.account-setting,
.logout {
  position: absolute;
  left: 75px;
  display: flex;
  align-items: flex-end;
}
.logout {
  top: 190px;
  font-weight: 900;
  color: #e83333;
  width: 237px;
}
.account-setting {
  top: 97px;
  width: 258px;
  cursor: pointer;
}
.profile-parent {
  position: absolute;
  top: 7px;
  left: 20px;
  width: 541px;
  height: 254px;
}
.profile-settings {
  position: relative;
  background-color: var(--color-darkslategray-200);
  width: 695px;
  height: 318px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-titillium-web);
}
