:root {
  /* fonts */
  --font-titillium-web: "Titillium Web";

  /* font sizes */
  --font-size-xs: 23px;
  --font-size-sm: 30px;
  --font-size-base: 35px;
  --font-size-lg: 60px;

  /* Colors */
  --color-darkslategray-100: #433c3c;
  --color-darkslategray-200: #2e3133;
  --color-white: #fff;
  --color-black: #000;
  --color-darkorange: #fd961a;

  /* border radiuses */
  --br-md: 15px;
}
