<!DOCTYPE html>
<html lang="en">
 <!--===================HEAD PARTIAL INCLUDED HERE================-->
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- =====================HEADER SECTION STARTS===================== -->
    <%- include("./partials/header.ejs") %>

    <!-- ====================HEADER SECTION ENDS  HERE================= -->
    <section class="project-cs-hero-opened">
      <div class="project-cs-hero__content-opened">
        <h1 class="heading-primary">project 3</h1>
        <div class="project-cs-hero__info">
          <p class="text-primary">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            aliquid in, sit corrupti repudiandae, ipsam doloremque quis repellat
            earum pariatur non sequi ab tempore, placeat perspiciatis corporis
            cupiditate aut impedit.
          </p>
        </div>
        <div class="project-cs-hero__cta">
          <a
            href="https://github.com/rwandantechy"
            class="btn btn--bg"
            target="_blank"
            rel="noreferrer"
            >Github Link</a
          >
        </div>
      </div>
    </section>
    <section class="project-details-style">
      <div class="main-container">
        <div class="project-details__content-opened">
          <div class="projects__row-img-cont">
            <img
              src="images/image3.jpg"
              alt="Software Screenshot"
              class="projects__row-img"
              loading="lazy"
            />
          </div>
          <div class="project-details__content-main">
            <div class="project-details__desc">
              <h2 class="project-details__content-title-opened">
                Project Overview
              </h2>
              <p class="project-details__desc-para">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuriesLorem Ipsum is simply dummy text
                of the printing
              </p>
              <p class="project-details__desc-para">
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries
                <a
                  style="text-decoration: underline"
                  href="https://link for the project that I have done "
                  >here</a
                >
              </p>
            </div>
            <div class="project-details__tools-used">
              <h2 class="project-details__content-title-opened">
                technology-used
              </h2>
              <div class="skills">
                <div class="skills__skill">HTML/CSSS</div>
                <div class="skills__skill">ADVANCED JAVA CONCEPTS</div>
                <div class="skills__skill">JAVASCRIPT</div>
                <div class="skills__skill">JAVA SERVER PAGES</div>
                <div class="skills__skill">GIT AND HOOKS</div>
                <div class="skills__skill">NODE JSS</div>
              </div>
            </div>
            <div class="project-details__links">
              <h2 class="project-details__content-title-opened">
                Have a Reference Now
              </h2>
              <a
                href="https://github.com/Rwandantechy"
                class="btn btn--med btn--theme project-details__links-btn"
                target="_blank"
                rel="noreferrer"
                >Project Link</a
              >
              <a
                href="/"
                class="btn btn--med btn--theme-inv project-details__links-btn"
                >Go Back</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========================DETAILED PROJECT SECTION ENDS HERE-======================-->

    <!--=========================FOOTER PART STARTS HERE==================================-->
    <%- include("./partials/footer.ejs") %>
    <!--=================FOOTER PART ENDS HERE ===========================================-->
       <script src="/JavaScript/main.js"></script>
  </body>
</html>
