:root {
  /* fonts that  I  have used throughout the project*/
  --font-titillium-web: "Titillium Web";

  /* font sizes */
  --font-size-xs: 15px;
  --font-size-sm: 20px;
  --font-size-base: 25px;
  --font-size-lg: 30px;

  /* Colors  that  I  have used throughout the project*/
  --color-white: #fff;
  --color-gray-100: #2d2715;
  --color-gray-200: #1d1d1d;
  --color-black: #000;
  --color-darkorange: #fd961a;

  /* Gaps */
  --gap-md: 8px;

  /* Paddings  that  I  have used throughout the project*/
  --padding-2xs: 2px;
  --padding-xs: 3px;
  --padding-sm: 5px;
  --padding-md: 9px;
  --padding-lg: 10px;
  --padding-xl: 12px;
  --padding-2xl: 25px;

  /* border radiuses */
  --br-xs: 5px;
  --br-sm: 8px;
  --br-md: 10px;
  --br-lg: 15px;
}
