<!DOCTYPE html>
<html lang="en">
  <!--=================HEAD PART STARTS HERE==============================-->
  <%- include("./usersPartials/head.ejs")%>
  <!--=========================HEAD SECTION ENDS HERE=====================-->
  <body>
    <!--========================HEADER SECTION STARTS HERE=================-->
    <%- include("./usersPartials/header.ejs")%>
    <!--========================HEADER SECTION ENDS HERE====================-->

    <section class="content-section-admin">
      <aside class="side-menu-section">
        <div class="menu-item">
          <a href="/users/index.html" class="menu-link">
            <img
              class="menu-icon"
              src="/images/dashboard.png"
              alt="dashboard Icon"
            />
            <h2 class="menu-title">Dashboard</h2></a
          >
        </div>
        <div class="menu-item">
          <a href="/users/users.html" class="menu-link">
            <img class="menu-icon" src="/images/users.png" alt="Users Icon" />
            <h2 class="menu-title">All Users</h2></a
          >
        </div>
        <div class="menu-item">
          <a href="/users/projects.html" class="menu-link">
            <img
              class="menu-icon"
              src="/images/projects.png"
              alt="Projects Icon"
            />
            <h2 class="menu-title">Projects</h2></a
          >
        </div>
        <div class="menu-item">
          <a href="/users/articles.html" class="menu-link">
            <img
              class="menu-icon"
              src="/images/articles.png"
              alt="Articles Icon"
            />
            <h2 class="menu-title">Articles</h2></a
          >
        </div>

        <div class="menu-item">
          <a href="/users/comments.html" class="menu-link">
            <img
              class="menu-icon"
              src="/images/comments.png"
              alt="Comments Icon"
            />
            <h2 class="menu-title">Comments</h2></a
          >
        </div>
      </aside>
      <section class="all-articles-section">
        <div class="articles-heading">
          <a
            class="btn--med btn--theme dynamicBgClr"
            href="/users/newArticle.html"
          >
            Create New
          </a>
          <div class="counter-up-down">
            <h2 class="counter-articles">
              Article: &nbsp;<span class="orange-text" id="counter-up-down"
                >2/10</span
              >
            </h2>
          </div>
        </div>
        <!-- <div class="big-card-latest-articles">
          <a href="/users/articles.html" class="latest-post-link">
            <h1 class="orange-big-text post-padding">
              MIT Engineers have discovered Lego-like AI chip.
            </h1>
          </a>
          <div class="publisher-info-stats">
            published by Innocent
            <script>
              var date = new Date();
              var day = date.getDate();
              var month = date.getMonth() + 1;
              var year = date.getFullYear();
              document.write("on: " + day + "/" + month + "/" + year);
            </script>
            <div class="one-component">
              <img
                src="/images/comments.png"
                alt="comments icon"
                width="64"
                class="stats-icons"
                height="64"
              />
              <h2 class="orange-big-text">400k</h2>
            </div>
            <div class="one-component">
              <img
                src="/images/likes.png"
                alt="likes icon"
                class="stats-icons"
                width="64"
                height="64"
              />
              <h2 class="orange-big-text">500k</h2>
            </div>
          </div>
          <div class="post-content">
           <div class="projects__row-img-cont">
              <img
                src="/images/image3.jpg"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div> <p class="descrption">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum,
              magnam! Corrupti, nisi? Provident voluptate et distinctio! Minus,
              numquam commodi, eligendi dolor maxime sapiente saepe provident
              vel placeat ex accusantium error? Vitae sint ea dolores
              necessitatibus perspiciatis, nulla placeat quisquam earum quam
              totam similique nemo maxime vel sapiente voluptate, ullam in
              praesentium fugiat. Ut nobis repudiandae omnis quaerat totam<span
                class="orange-text"
                >...</span
              >
              <div class="operation-articles">
                <a href="/users/updateArticle.html"
                  >
                  <h1 class="big-green-text"
                  >UPDATE</h1>
                </a>
                <a href="/users/delete-article.js"
                  ><h1  class="big-red-text">DELETE</h1>
                </a>
              </div>
            </p>
          </div>
        </div> -->
        <!-- <div class="next-previous">
          <div class="one-component">
            <img
              src="/images/next.svg"
              alt="next icon"
              class="previous icon2"
            />
            <span class="orange-big-text" id="previous-slide"> Previous</span>
          </div>
          <div class="one-component">
            <span class="orange-big-text" id="next-slide">Next</span>
            <img src="/images/next.svg" alt="previous icon" class="icon2" />
          </div>
        </div> -->
      </section>
    </section>
    <!--==========================FOOTER PART STARTS HERE=====================-->
    <%- include("./usersPartials/footer.ejs")%>
    <!--=========================FOOTER SECTION ENDS HERE=====================-->

    <script src="/users/Javascript/main.js"></script>
  </body>
</html>
