<!DOCTYPE html>
<html lang="en">
  <!--=================HEAD PART STARTS HERE==============================-->
  <%- include("./usersPartials/head.ejs")%>
  <!--=========================HEAD SECTION ENDS HERE=====================-->
  <body>
    <!--========================HEADER SECTION STARTS HERE=================-->
    <%- include("./usersPartials/header.ejs")%>
    <!--========================HEADER SECTION ENDS HERE====================-->
    <section class="content-section-admin">
      <aside class="side-menu-section">
        <div class="menu-item">
          <a href="/users/index.html" class="menu-link">
            <img
              class="menu-icon"
              src="/images/dashboard.png"
              alt="dashboard Icon"
            />
            <h2 class="menu-title">Dashboard</h2></a
          >
        </div>
        <div class="menu-item">
          <a href="/users/users.html" class="menu-link">
            <img class="menu-icon" src="/images/users.png" alt="Users Icon" />
            <h2 class="menu-title">All Users</h2></a
          >
        </div>
        <div class="menu-item">
          <a href="/users/projects.html" class="menu-link">
            <img
              class="menu-icon"
              src="/images/projects.png"
              alt="Projects Icon"
            />
            <h2 class="menu-title">Projects</h2></a
          >
        </div>
        <div class="menu-item">
          <a href="/users/articles.html" class="menu-link">
            <img
              class="menu-icon"
              src="/images/articles.png"
              alt="Articles Icon"
            />
            <h2 class="menu-title">Articles</h2></a
          >
        </div>

        <div class="menu-item">
          <a href="/users/comments.html" class="menu-link">
            <img
              class="menu-icon"
              src="/images/comments.png"
              alt="Comments Icon"
            />
            <h2 class="menu-title">Comments</h2></a
          >
        </div>
      </aside>

      <div class="Users-Section">
        <div class="users-title-redirects">
          <a href="/users/index.html">
            <img
              src="/images/next.svg"
              alt="back "
              class="back-icon"
              width="28"
              height="28"
            />
            <span class="span-text">GO BACK</span>
          </a>

          <h1 class="orange-big-text all-users">ALL USERS:200</h1>
          <a href="#">
            <span class="span-text">NEXT</span>
            <img
              src="/images/next.svg"
              alt="back "
              class="next-icon"
              width="28"
              height="28"
            />
          </a>
        </div>

        <div class="table__wrap">
          <table class="table">
            <thead class="table__header">
              <tr class="table__row">
                <th class="table__cell u-text-left">ID</th>
                <th class="table__cell u-text-right">Username</th>
                <th class="table__cell u-text-right">Email</th>
                <th class="table__cell u-text-right">Phone</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table__row">
                <td class="table__idtable__cell">
                  <a href="#" class="table-link"
                    ><span class="user-id">1</span>
                  </a>
                </td>
                <td class="table__username table__cell u-text-right">
                  <span class="num_negative"> Innocent </span>
                </td>
                <td class="table__available table__cell u-text-right">
                  niyonnocent@gmail.com
                </td>
                <td class="table__limit table__cell u-text-right">
                  +919099418391
                </td>
                <td class="table-action table__available-action table__cell">
                  <a href="#">
                    <img
                      src="/images/delete.png"
                      width="32"
                      height="32"
                      alt="Delete   a user"
                    />
                  </a>
                </td>
              </tr>
              <tr class="table__row">
                <td class="table__idtable__cell">
                  <a href="#" class="table-link"
                    ><span class="user-id">1</span>
                  </a>
                </td>
                <td class="table__username table__cell u-text-right">
                  <span class="num_negative"> Innocent </span>
                </td>
                <td class="table__available table__cell u-text-right">
                  niyonnocent@gmail.com
                </td>
                <td class="table__limit table__cell u-text-right">
                  +919099418391
                </td>
                <td class="table-action table__available-action table__cell">
                  <a href="#">
                    <img
                      src="/images/delete.png"
                      width="32"
                      height="32"
                      alt="Delete   a user"
                    />
                  </a>
                </td>
              </tr>
              <tr class="table__row">
                <td class="table__idtable__cell">
                  <a href="#" class="table-link"
                    ><span class="user-id">1</span>
                  </a>
                </td>
                <td class="table__username table__cell u-text-right">
                  <span class="num_negative"> Innocent </span>
                </td>
                <td class="table__available table__cell u-text-right">
                  niyonnocent@gmail.com
                </td>
                <td class="table__limit table__cell u-text-right">
                  +919099418391
                </td>
                <td class="table-action table__available-action table__cell">
                  <a href="#">
                    <img
                      src="/images/delete.png"
                      width="32"
                      height="32"
                      alt="Delete   a user"
                    />
                  </a>
                </td>
              </tr>
              <tr class="table__row">
                <td class="table__idtable__cell">
                  <a href="#" class="table-link"
                    ><span class="user-id">1</span>
                  </a>
                </td>
                <td class="table__username table__cell u-text-right">
                  <span class="num_negative"> Innocent </span>
                </td>
                <td class="table__available table__cell u-text-right">
                  niyonnocent@gmail.com
                </td>
                <td class="table__limit table__cell u-text-right">
                  +919099418391
                </td>
                <td class="table-action table__available-action table__cell">
                  <a href="#">
                    <img
                      src="/images/delete.png"
                      width="32"
                      height="32"
                      alt="Delete   a user"
                    />
                  </a>
                </td>
              </tr>
              <tr class="table__row">
                <td class="table__idtable__cell">
                  <a href="#" class="table-link"
                    ><span class="user-id">1</span>
                  </a>
                </td>
                <td class="table__username table__cell u-text-right">
                  <span class="num_negative"> Innocent </span>
                </td>
                <td class="table__available table__cell u-text-right">
                  niyonnocent@gmail.com
                </td>
                <td class="table__limit table__cell u-text-right">
                  +919099418391
                </td>
                <td class="table-action table__available-action table__cell">
                  <a href="#">
                    <img
                      src="/images/delete.png"
                      width="32"
                      height="32"
                      alt="Delete   a user"
                    />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <!--==========================FOOTER PART STARTS HERE=====================-->
    <%- include("./usersPartials/footer.ejs")%>
    <!--=========================FOOTER SECTION ENDS HERE=====================-->

    <script src="/users/Javascript/main.js"></script>
  </body>
</html>
